---
title: Decisions
weight: 30
parent: /decisions
last_reviewed_on: 2021-10-22
review_in: 6 months
owner_slack: "#sdd-devs-and-friends"
---

# Decisions

An Architectural Decision Record (ADR) is a document that captures an important architectural decision made along with its context and consequences.

Currently there are no ADRs specifically for this service, but the SDD-wide ADRs are recorded and shared [here](https://github.com/DFE-Digital/sdd-technical-documentation/tree/main/adrs).

<div class="govuk-inset-text">
  It is important to note that this service seeks close alignment with the <a href="https://technical-guidance.education.gov.uk/">
    <span>DfE Technical Guidance</</span></a>.
</div>

<%= partial "partials/links" %>